body {
    margin: 0;
    font-family: $font__main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $font__color;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 1px;
    font-size: 2.5em;
    margin: 10px 0;
}

button,
input {
    font-family: $font__main;
}

input::-webkit-outer-spin-button,

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;

}

input {
    font-size: 0.9em;
}

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 15px;
}

.d-flex {
    display: flex;
}

.justify-space-between {
    justify-content: space-between;
}

.justify-flex-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.app-wrapper {
    min-height: calc(100vh - 50px);
    background: $secondary;
    padding-bottom: 50px;
}

.delete {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    color: $red;
    position: relative;
    padding: 5px 0;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $red;
        transition: transform 0.3s;
        transform-origin: 100% 50%;
    }

    &:hover {
        &:after {
            transform: scaleX(0.85);
        }
    }
}

.caption {
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1px;
    text-decoration: none;
}