@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&display=swap');

$font__main: 'Titillium Web', sans-serif;

$font__color: #333;

$primary: #522c83;
$secondary: #f8f8f8;
$red: #e74c3c;
$white: #fff;
$black: #000;